body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #67856e;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0px 15px;
    font-size: 16px;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.avatar-selection {
    text-align: center;
    background-color: #f8f5ef;
    padding: 20px;
    padding-top: 120px; /* To ensure content starts below the navbar */
}

.avatar-container {
    margin-top: 50px;
}

.avatar-container h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.avatars {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.avatar img {
    border-radius: 50%;
    border: 2px solid #8cc79f;
    width: 150px;
    height: 150px;
}
